<div class="admin">
    <form>
        <div class="title">Adding new doctor</div>
        <div class="input">
            <div class="label">image</div>
            <input type="file">
        </div>
        <div class="input">
            <div class="label">name</div>
            <input type="text">
        </div>
        <div class="input">
            <div class="label">speciality</div>
            <input type="text">
        </div>
        <div class="input">
            <div class="label">city</div>
            <input type="text">
        </div>
        <div class="input">
            <div class="label">price</div>
            <input type="text">
        </div>
        <div class="input">
            <div class="label">experience</div>
            <input type="text">
        </div>
        <button mat-flat-button color="primary">+ Add doctor</button>
    </form>
</div>
