<div class="admin">
  <form>
      <div class="title">Adding new doctor</div>
      <div class="input">
          <div class="label">image</div>
          <input type="text" name="image" [(ngModel)]="adminModel.image">
      </div>
      <div class="input">
          <div class="label">name</div>
          <input type="text" name="name" [(ngModel)]="adminModel.name">
      </div>
      <div class="input">
          <div class="label">speciality</div>
          <input type="text" name="speciality" [(ngModel)]="adminModel.speciality">
      </div>
      <div class="input">
          <div class="label">city</div>
          <input type="text" name="city" [(ngModel)]="adminModel.city">
      </div>
      <div class="input">
          <div class="label">price</div>
          <input type="text" name="price" [(ngModel)]="adminModel.price">
      </div>
      <div class="input">
          <div class="label">experience</div>
          <input type="text" name="experience" [(ngModel)]="adminModel.experience">
      </div>
      <button mat-flat-button color="primary" (click)="onAdd()">
          <div *ngIf="edit">
              Edit Doctor
          </div>
          <div *ngIf="!edit">
              + Add new Doctor
          </div>
      </button>
  </form>
  <div class="list">
      <div *ngFor="let d of doctors">
          <div class="list_item">
              <div class="name">{{d.name}}</div>
              <div class="edit"><i class="material-icons" (click)="onEdit(d.id)">create</i></div>
              <div class="delete"><i class="material-icons" (click)="onDelete(d.id)">delete</i></div>
          </div>
      </div>
  </div>
</div>
